  public JSONObject rf(String group,String office, String id) {
	  JSONObject output = new JSONObject();
	  JSONArray array = new JSONArray();
	  JSONObject dataitems = new JSONObject();
	  
	  if(office.equals("dist_reg")) {
		  List<Object[]> tst= reportRepository.getregistered_families_dis(id,group);
		  dataitems.put("count1",reportRepository.getsec1(id,group).get(0)[0]);  
 		  dataitems.put("count2",reportRepository.getsect(id).get(0)[0]);
	  }else if(office.equals("ulb_reg")) {
		  dataitems.put("count1", Repository.getsec2(id, group).get(0)[0]); 
		  dataitems.put("count2",Repository.getsec2t(id).get(0)[0]);
		 
	  }else if(office.equals("ward_reg")) {
		  dataitems.put("count1", Repository.getsec3(id, group).get(0)[0]);
		  dataitems.put("count2",Repository.getsec3t(id).get(0)[0]);
	  }
	  else {
			 System.out.println("err");
		 }
		 array.put(dataitems);
		 output.put("data", array);
		 System.out.println(dataitems);
		 return output;
		
	}
  
  
